<div class="container">
    <div class="jumbotron mt-3">
        <h3 class="mb-5">Even - Odd Number Control</h3>
        <app-gamecontrol (start)="start()" (stop)="stop()" [seconds]="seconds"></app-gamecontrol>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Even</th>
                    <th scope="col">Odd</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <app-even *ngFor="let number of evennumbers" [seconds]="number"></app-even>
                    </td>
                    <td>
                        <app-odd *ngFor="let number of oddnumbers" [seconds]="number"></app-odd>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>